{% load i18n avatar_tags %}
{% load static from staticfiles %}
<footer>
  <div class="container main-vertical-spacing">
      <div class="row clearfix">
        {% block contactus %}
        {% if custom_theme.contactus %}
          <div class="footer-list col-md-3">
              <h3>GeoNepal</h3>
              <p>Lorem ipsum dolor sit amet consecutor. Lorem ipsum dolor sit amet consecutor. Lorem ipsum dolor sit amet consecutor.</p>
              <ul>
                  <li><h2>{% trans "Contact Us" %} </h2> </li>
                  {% if custom_theme.contact_name %}<li>{{ custom_theme.contact_name }}</li>{% endif %}
                  {% if custom_theme.contact_position %}<li>{{ custom_theme.contact_position }}</li>{% endif %}
                  {% if custom_theme.contact_administrative_area %}<li>{{ custom_theme.contact_administrative_area }}</li>{% endif %}
                  {% if custom_theme.contact_city %}<li>{{ custom_theme.contact_city }}</li>{% endif %}
                  {% if custom_theme.contact_street %}<li>{{ custom_theme.contact_street }}</li>{% endif %}
                  {% if custom_theme.contact_postal_code %}<li>{{ custom_theme.contact_postal_code }}</li>{% endif %}
                  {% if custom_theme.contact_country %}<li>{{ custom_theme.contact_country }}</li>{% endif %}
                  {% if custom_theme.contact_delivery_point %}<li>{{ custom_theme.contact_delivery_point }}</li>{% endif %}
                  {% if custom_theme.contact_voice %}<li>{% trans "Tel" %}: {{ custom_theme.contact_voice }}</li>{% endif %}
                  {% if custom_theme.contact_facsimile %}<li>{% trans "Fax" %}: {{ custom_theme.contact_facsimile }}</li>{% endif %}
                  {% if custom_theme.contact_email %}<li>{% trans "E-mail" %}: {{ custom_theme.contact_email }}</li>{% endif %}
              </ul>
          </div>

          {% endif %}
          {% endblock contactus %}

          <div class="footer-list col-md-3">
              <h3>{% trans "Data" %}</h3>
              <ul>
                <li><a href="{% url "layer_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Layers" %}</a></li>
                <li><a href="{% url "document_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Documents" %}</a></li>
                <li><a href="{% url "services" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Remote Services" %}</a></li>
                {% if user.is_authenticated and not READ_ONLY_MODE %}
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url "layer_upload" %}">{% trans "Upload Layer" %}</a></li>
                    {% if USE_GEOSERVER and CREATE_LAYER %}
                        <li><a href="{% url "layer_create" %}">{% trans "Create Layer" %}</a></li>
                    {% endif %}
                    <li><a href="{% url "document_upload" %}">{% trans "Upload Document" %}</a></li>
                {% endif %}
                {% if user.is_staff or user.is_superuser %}
                  {% if not READ_ONLY_MODE %}
                    <li><a href="{% url "register_service" %}">{% trans "Add Remote Service" %}</a></li>
                  {% endif %}
                {% endif %}
              </ul>
          </div>
          <div class="footer-list col-md-3">
              <h3>{% trans "Maps" %}</h3>
              <ul>
                <li><a href="{% url "maps_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Explore Maps" %}</a></li>
                {% if user.is_authenticated and not READ_ONLY_MODE %}
                  <li> <a href="{% url "new_map" %}">{% trans "Create Map" %}</a></li>
                {% endif %}
              </ul>
          </div>
          <div class="footer-list col-md-3">
              <h3>{% trans "About" %}</h3>
              <ul>
                <li><a href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
                <li><a href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
                {% if perms.announcements.can_manage %}
                <li><a href="{% url "announcements_list" %}">{% trans "Announcements" %}</a></li>
                {% endif %}
                {% if user.is_authenticated and not READ_ONLY_MODE %}
                <li><a href="{% url "geonode.invitations:geonode-send-invite" %}">{% trans "Invite Users" %}</a></li>
                {% endif %}
                {% if user.is_superuser and not READ_ONLY_MODE %}
                <li><a href="{% if SITEURL|default:""|slice:"-1:" == "/" %}{{SITEURL}}{% else %}{{SITEURL}}/{% endif %}admin/people/profile/add/">{% trans "Add User" %}</a></li>
                <li><a href="{% url "group_create" %}">{% trans "Create Group" %}</a></li>
                {% endif %}
              </ul>
          </div>
      </div>
  </div>
  <div class="copyright text-center">Powered by GeoNepal. Developed By <a href="#">Kathmandu University</a></div>

</footer>
