{% load i18n %}
{% load base_tags %}
<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
      {% trans "Type" %}
    </button>
  </h2>
  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
    <div class="accordion-body">
      <ul class="filter-list">
        {% facets as facets %}

        {% for facet, count in facets.items %}
        {% if count > 0 %}
        <li>
            <a id="{{ facet }}" data-value="{{ facet }}" data-filter="{{ filter }}" ng-click="multiple_choice_listener($event)">
                {{ facet|get_facet_title|title }}
                <span class="badge pull-right">{{ count }}</span>
            </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  </div>
